<!DOCTYPE html>

{% load static %}

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Анализатор</title>

    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">

    <style>
        a {
            text-decoration: none !important;
            color: inherit;
        }
    </style>

</head>
<body>

<a class="btn btn-primary" style="position: absolute; top:10px; left: 10px" href="{% url 'api' %}">API документация</a>
<div style="display: flex;flex-direction: column;align-items: center">
    <a href="{% url 'index' %}">
        <div class="mb-3" style="display: flex;align-items: center">
            <img style="width: 80px" src="https://static.tildacdn.com/tild3063-3836-4063-a139-396431636464/noroot.png">
            <div>
                <h1>МАИЛ</h1>
                <h6>Международная Академия исследования лжи</h6>
            </div>
        </div>
    </a>


    <div class="col-3 shadow p-3 mb-5 bg-body"
         style="background-color: #fafafa; padding: 3%; border-radius: 16px; margin-top: 5%">
        <form>            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Строка значений</label>

                <div class="row">
                    <div class="col-10">
                        <input class="form-control" id="data_string" aria-describedby="">
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                title="В формате предоставленной валидационной выборки">
                            <i class="bi bi-info-circle"></i>
                        </button>
                    </div>
                </div>
                <div id="emailHelp" class="form-text">или</div>
            </div>
            <div class="mb-3">
                <label for="formFileLg" class="form-label">Выбрать файл для анализа</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file">
            </div>
            <div class="d-grid gap-2" style="">
                <button class="btn btn-primary analysis">Анализировать</button>
            </div>
        </form>
    </div>

    <img class="load" src="{% static 'load.gif' %}" width="300" style="display: none">
    <div class="col-8 shadow p-3 mb-5 bg-body datatable"
         style="background-color: #fafafa; padding: 3%; border-radius: 16px; display: none">
        <table id="myTable" class="table table-striped">
            <thead style="vertical-align: middle">
            <tr>
                <th>Испытуемый</th>
                <th>Группа вопросов</th>
                <th>ID вопроса</th>
                <th>Балл 1 повтора</th>
                <th>Балл 2 повтора</th>
                <th>Балл 3 повтора</th>
                <th>Сумма баллов по трем повторам</th>
            </tr>
            </thead>
            <tbody style="vertical-align: middle; ho-align: center">
            {% for i in sub_array %}
                <tr>
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td data-bs-toggle="modal" data-bs-target="#exampleModal">{{ i.3 }}
                        <button class="btn btn-primary" style="margin-left: 30px"><i class="bi bi-graph-up "></i>
                        </button>
                    </td>
                    <td data-bs-toggle="modal" data-bs-target="#exampleModal">{{ i.4 }}
                        <button class="btn btn-primary" style="margin-left: 30px"><i class="bi bi-graph-up "></i>
                        </button>
                    </td>
                    <td data-bs-toggle="modal" data-bs-target="#exampleModal">{{ i.5 }}
                        <button class="btn btn-primary" style="margin-left: 30px"><i class="bi bi-graph-up "></i>
                        </button>
                    </td>
                    <td>{{ i.6 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Графики 1 повтора</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>Фотоплетизмограмма</h5>
                    <div style="display: flex; width: 3080px">
                        {% for p in photoplethysmograms %}
                            <div style="height: 100%; width: 220px">
                                <div style="display: flex;align-items: center;justify-content: space-between;">
                                    <h6>ID вопроса: {{ p.0 }}</h6>
                                    <input type="number" class="form-control" value="1" min="0" max="2"
                                           style="width: 60px; margin-right: 3%" id="mark{{ p.0 }}"></div>
                                <canvas id="photoChart{{ p.0 }}" width=50" height="50"></canvas>
                            </div>
                        {% endfor %}

                    </div>
                    <h5>Пьезоплетизмограмма</h5>
                    <div style="display: flex; width: 3080px">
                        {% for z in piezopletismograms %}
                            <div style="height: 100%; width: 220px">
                                <div style="display: flex;align-items: center;justify-content: flex-end;">
                                    <input type="number" class="form-control" value="1" min="0" max="2"
                                           style="width: 60px; margin-right: 3%" id="mark{{ z.0 }}"></div>
                                <canvas id="piezoChart{{ z.0 }}" width=50" height="50"></canvas>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>


    <label style="color: #c9c9c9">Цифровой прорыв | КЕЙС: МЕЖДУНАРОДНАЯ АКАДЕМИЯ ИССЛЕДОВАНИЯ ЛЖИ</label>
    <label style="color: #c9c9c9">StarTrek Team 2022</label>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })

    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>


<script>
    $(document).ready(function () {
        $('body').on('click', '.analysis', function () {
            $('.load').show();
            $('.analysis').prop("disabled", true);
            setTimeout(function () {
                $('.load').hide();
                $('.datatable').show();
            }, 2500);
            var data = {'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()}
            data["data_string"] = $('#data_string').val()
            $.ajax({
                url: '/analysis',
                method: 'POST',
                data: data,
                success: function (data) {
                    console.log('777')
                }
            })
        })
    })
    $(document).ready(function () {
        {% for p in photoplethysmograms %}
            const ctx{{ p.0 }} = document.getElementById('photoChart{{ p.0 }}').getContext('2d');
            const photoChart{{ p.0 }} = new Chart(ctx{{ p.0 }}, {
                type: 'line',
                data: {
                    labels: Array(240).fill().map((e, i) => i + 1),
                    datasets: [{
                        label: 'Фотоплетизмограмма',
                        data: {{ p.1 }},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        radius: 0,
                        borderWidth: 1,
                        tension: 0.3
                    }]
                },

                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                }
            });
        {% endfor %}


        {#============================#}

        {% for z in piezopletismograms %}
            const pctx{{ z.0 }} = document.getElementById('piezoChart{{ z.0 }}').getContext('2d');
            const piezoChart{{ z.0 }} = new Chart(pctx{{ z.0 }}, {
                type: 'line',
                data: {
                    labels: Array(240).fill().map((e, i) => i + 1),
                    datasets: [{
                        label: 'Пьезоплетизмограмма',
                        data: {{ z.1 }},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(65,12,12, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        radius: 0,
                        borderWidth: 1,
                        tension: 0.3
                    }]
                },

                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    },
                }
            });
        {% endfor %}
    })


</script>

</body>

</html>
